body {
    background: #ffd9eb; 
}
h1 {
    color: rgb(219, 0, 0);
    font-family: Helvetica,Arial, sans-serif;
    text-align: center;
    font-size: 450%;
    padding-top: 40px;
    padding-left: 20px;
    
}